glmnet==2.2.1
gspread==5.10.0
numpy==1.25.0
pandas==2.0.2
pydantic==1.10.9
pytest==7.4.0
python-dotenv==1.0.0
scikit_learn==1.2.2
skranger==0.8.0
strictyaml==1.6.2
xgboost==1.7.6
git+https://github.com/abrahamalex13/DBAccess@v3.0.0
git+https://github.com/abrahamalex13/target-encode@v1.0.0